<input id="progress" type="text" class="dial" data-min="0" data-max="100">

<label for="filter">Filter</label>
<input id="filter" type="range" min="0" max="1" step="0.01" value="1">
<label for="volume">Volume</label>
<input id="volume" type="range" min="0" max="1" step="0.01" value="1">
